.bg-gradiant {
    color: White;
    background-image: url('./../../../../assets/images/notFount_wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.primary-btn {
    background-color: linear-gradient(to right, #03112B, #073A59)
}
