.previous-button {
    background-color: #86abf0; /* couleur de fond */
    border: none; /* pas de bordure */
    color: white; /* couleur de texte */
    padding: 10px 20px; /* espacement autour du texte */
    text-align: center; /* centré horizontalement */
    text-decoration: none; /* pas de soulignement */
    display: inline-block; /* affichage en ligne */
    font-size: 16px; /* taille de police */
    margin: 10px; /* espacement autour du bouton */
    border-radius: 5px; /* bordure arrondie */
    cursor: pointer; /* curseur de souris */
  
    &:hover {
      color: rgb(166, 199, 241);
      background-color: #3213df;
      cursor: pointer;
    }
  }
  
  .next-button {
    background-color: #316291; /* couleur de fond */
    border: none; /* pas de bordure */
    color: white; /* couleur de texte */
    padding: 10px 20px; /* espacement autour du texte */
    text-align: center; /* centré horizontalement */
    text-decoration: none; /* pas de soulignement */
    display: inline-block; /* affichage en ligne */
    font-size: 16px; /* taille de police */
    margin: 10px; /* espacement autour du bouton */
    border-radius: 5px; /* bordure arrondie */
    cursor: pointer; /* curseur de souris */
    float: right; /* flotter à droite */
  
    &:hover {
      color: rgb(166, 199, 241);
      background-color: #3213df;
      cursor: pointer;
    }
  }