

<!--<table class="table">
  <thead>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
    <th>Number Interessés ❤</th>
    <th>action</th>
  </tr>
  </thead>
  <tbody *ngFor="let reservation of reservations">
  <tr>
    <td>{{reservation.startDate}}</td>
    <td>{{reservation.endDate}}</td>
    <td>{{reservation.status}}</td>
    <td>{{reservation.personnbr}}</td>
    <button class="btn btn-success" >Interessted</button>
    <td>
      <button class="btn btn-danger"  >
        delete
      </button>
    </td>
  </tr>
  </tbody>
</table>-->


<app-statistics></app-statistics>

<c-row>
    <c-col *ngFor="let reservation of reservations" [sm]="6">
    <c-col *ngFor="let item of colors">
      <c-card [cBorder]="{top: {color: 'success', width: 3}}" [textColor] color="item.textColor" class="mb-3">
        <c-card-header>{{reservation.status}}</c-card-header>
        <c-card-body>
          <h5 cCardTitle> From : {{reservation.startDate}}</h5> <h5 cCardTitle>To : {{reservation.endDate}}</h5>
          <p cCardText>
             Person Number in this reservation : {{reservation.personnbr}}
          </p>
          
          <button cButton [cModalToggle]="deleteModal.id" color="danger" cTooltip="Delete Reservation" cTooltipPlacement="top" (click)="selectedReservation = reservation">
            <svg cIcon class="cis-color-fill" name="cil-trash"></svg>
          </button>
          <P>            </P>
          <c-dropdown
  *ngFor="let item of colors"
  placement="bottom-start"
  variant="btn-group">
  <button [color]="item.textColor" cButton>
    Add Sale
  </button>
  <button [color]="item.textColor" cButton cDropdownToggle split>
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul cDropdownMenu *ngIf="selectedReservation && sales && sales.length > 0">
    <li *ngFor="let sale of sales">
      <button cDropdownItem (click)="assignSaleToReservation(sale)">
        {{ sale.title }}
      </button>
    </li>
  </ul>
</c-dropdown>

          <c-modal #deleteModal alignment="center" id="deleteModal">
            <c-modal-header>
                <h5 cModalTitle>Delete Reservation</h5>
                <button [cModalToggle]="deleteModal.id" cButtonClose></button>
            </c-modal-header>
            <c-modal-body>
                <br> Do you confirm this operation?
            </c-modal-body>
            <c-modal-footer>
                <button [cModalToggle]="deleteModal.id" cButton color="secondary">
Close
</button>
                <button cButton color="primary" (click)="deleteReservation()" [cModalToggle]="deleteModal.id">Delete</button>
            </c-modal-footer>
        </c-modal>
        </c-card-body>
      </c-card>
    </c-col>
</c-col>
  </c-row>


