.bg-gradiant {
    color: White;
    background-image: url('./../../../../assets/images/wallpaperflare404Up.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

c-card-body {
    color: rgb(4, 41, 4);
}
