<div id="layoutSidenav">

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">

                <div class="card mb-4 ">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-lg-10">
                                <i class="fas fa-table me-1"></i>
                                Liste des carts
                            </div>
                            <div class="col col-lg-2">
                                <button class="btn btn-primary btn-sm float-right" (click)="showAddForm()">
                                    <i class="fas fa-plus"></i>
                                    Add

                                </button>
                            </div>


                            <div class="row" *ngIf="addFormVisible">
                                <div class="card mb-4">
                                    <div class="card-header">

                                    </div>
                                    <div class="card-body">

                                        <form (ngSubmit)="createCart();" method="POST">
                                            <div class="card card-default">

                                                <div class="card-body">

                                                    <div class="row">
                                                        <div class="form-group col-lg-6">
                                                            <label>Reorder</label>
                                                            <label class="toggle-switch">
                                                                <input type="checkbox" name="promotionAdded"
                                                                    [(ngModel)]="cart.promotionAdded">
                                                                <span class="slider"></span>
                                                            </label>
                                                        </div>
                                                        
                                                        <div class="form-group col-lg-6">
                                                            <label>Reorder</label>
                                                            <label class="toggle-switch">
                                                                <input type="checkbox" name="empty"
                                                                    [(ngModel)]="cart.empty">
                                                                <span class="slider"></span>
                                                            </label>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="card-footer">
                                                    <div class="row float-right">
                                                        <div class="col">
                                                            <button type="reset" class="btn btn-primary  btn-sm m-3"
                                                                data-dismiss="modal"
                                                                (click)="hideAddForm()">Annuler</button>
                                                            <button type="submit" class="btn btn-success btn-sm"
                                                                data-dismiss="modal">Enregistrer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>




                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="editFormVisible">
                                <div class="card mb-4">
                                    <div class="card-body">

                                        <form (ngSubmit)="updateCart(cart)" method="POST">
                                            <div class="card card-default">

                                                <div class="card-body">

                                                    <div class="row">
                                                        <div class="form-group col-lg-6">
                                                            <label>Reorder</label>
                                                            <label class="toggle-switch">
                                                                <input type="checkbox" name="promotionAdded"
                                                                    [(ngModel)]="cart.promotionAdded">
                                                                <span class="slider"></span>
                                                            </label>
                                                        </div>
                                                        <div class="form-group col-lg-6">
                                                            <label>Reorder</label>
                                                            <label class="toggle-switch">
                                                                <input type="checkbox" name="empty"
                                                                    [(ngModel)]="cart.empty">
                                                                <span class="slider"></span>
                                                            </label>
                                                        </div>
                                                    </div>



                                                </div>
                                                <div class="card-footer">
                                                    <div class="row float-right">
                                                        <div class="col">
                                                            <button type="reset" class="btn btn-primary  btn-sm m-3"
                                                                data-dismiss="modal"
                                                                (click)="hideEditForm()">Annuler</button>
                                                            <button type="submit" class="btn btn-success btn-sm"
                                                                data-dismiss="modal">Enregistrer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>




                                    </div>
                                </div>
                            </div>





                        </div>
                    </div>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Promotion</th>
                                <th>empty</th>
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let cart of carts | slice:(currentPage - 1) * itemsPerPage : currentPage * itemsPerPage ">
                                <td>
                                    <p>{{cart.promotionAdded}}</p>
                                </td>
                                <td>
                                    <p>{{cart.empty}}</p>
                                </td>
                                <td>
                                    <p>{{cart.total }}</p>
                                </td>
                               
                                <td><button class="btn btn-sm btn-warning m-2" (click)="editCart(cart)">
                                        <i class="fas fa-pen text-white"></i>

                                    </button>
                                    <button class="btn btn-sm btn-info m-2" (click)="info(cart)">
                                        <i class="fas fa-info-circle text-white"></i>

                                    </button>
                                    <button class="btn btn-sm btn-danger m-2" (click)="deleteCart(cart)">
                                        <i class="fas fa-trash text-white"></i>

                                    </button>
                                </td>

                        </tbody>
                    </table>
                    <div><button *ngIf="currentPage>1" class="previous-button"
                            (click)="currentPage = currentPage - 1">Précédent</button>
                        <button *ngIf="currentPage<total" class="next-button"
                            (click)="currentPage = currentPage + 1">Suivant</button>
                    </div>

                </div>
            </div>
        </main>

    </div>
</div>